---
# Only the main Sass file needs front matter (the dashes are enough)
---

$brand-color: {{ site.accent_color }};

@import "minima";

.site-logo {
    height:40px;
    margin:auto;
    margin-right:5px;
    vertical-align:unset;
}

.site-title {
    vertical-align: text-bottom;
    float: none;
}

.site-subtitle {
    display:inline-block;
    font-size: 15px;
    color: $grey-color;
}

.site-nav {
    float: none;
    line-height: 30px
}

.site-nav .page-link{
    color: $grey-color;
    font-size: 13px;
}

.page-content img {
    display: block;
    margin: auto;
}

.page-content{
    font-size: 15px;
}