---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-subtitle {
    display:inline-block;
    font-size: 15px;
    color: $grey-color;
}

.site-nav {
    float: none;
    line-height: 30px
}

.site-nav .page-link{
    color: $grey-color;
    font-size: 13px;
}

.page-content img {
    display: block;
    margin: auto;
}

.page-content{
    font-size: 15px;
}